<div class="card">
    <div class="card-image">
      <figure class="image">
        <img [src]="imageUrl"  alt="Big Tree" />
      </figure>
    </div>
    <!--content-->
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">
          {{title}}
        </p>
        <p class="subtitle is-6">
          {{handle}}
        </p>
        <div class="content">
            <p>
          {{action}}
        </p>
        </div>
      </div>
    </div>
  </div>


  <!-- 
    [author] = "post.author"
  [year] = "post.year"
  [language]="post.language"
  [instock]="post.instock"
  [description]="post.description"
  [imageUrl]="post.imageUrl" -->