/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Shippori+Mincho+B1:wght@400;500;700;800&display=swap');

body {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 auto;
    padding: 5%;
    background-color: rgb(247, 238, 196);
}

.card {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    max-width: 320px;
    min-height: 20em;
}

/* body {
    font-family: 'Abel', sans-serif;
    color: #fcfcfc;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 auto;
    padding: 5%;
    background-color: rgb(247, 238, 196);
}


.card {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 350px;
    min-height: 20em;
} */

/* 
.card-footer{
    background-color: slategray;
    padding: 10px;
    color: white;
}

.is-horizontal {
    display: flex;
    justify-content: center;
}

.centered {
    height: 60vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
} */

